@font-face {
  font-family: 'MaoKenWangFengYaSong';
  font-display: swap;
  src: url('/css/猫啃网风雅宋.ttf') format("truetype");  
}

@font-face {
  font-family: 'Roboto Mono Medium';
  font-display: swap;
  src: url('/css/Roboto Mono Medium.ttf') format("truetype");  
}

